body {
  font-family: helvetica, arial;
  font-size: 100%;
  margin: 0px;
}

a img {
  display: block;
}

.main-container .main-slider .owl-wrapper-outer {
  overflow: hidden;
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper {
  *zoom: 1;
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper:before, .main-container .main-slider .owl-wrapper-outer .owl-wrapper:after {
  display: table;
  content: " ";
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper:after {
  clear: both;
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper .owl-item {
  float: left;
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper .owl-item .item img {
  display: block;
  margin: 0 auto;
}
.main-container footer.footer-menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.main-container footer.footer-menu .main-menu {
  background: #000000;
  padding: 15px;
  position: relative;
  z-index: 3000;
}
.main-container footer.footer-menu .main-menu a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}
.main-container footer.footer-menu .main-menu .arrows {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 45px;
  height: 45px;
}
.main-container footer.footer-menu .main-menu .arrows a {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
}
.main-container footer.footer-menu .main-menu .arrows .left-arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(255, 255, 255, 0.3);
  top: 10px;
  left: 0px;
}
.main-container footer.footer-menu .main-menu .arrows .left-arrow.active {
  border-right: 10px solid #ffffff;
}
.main-container footer.footer-menu .main-menu .arrows .right-arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(255, 255, 255, 0.3);
  top: 10px;
  right: 0px;
}
.main-container footer.footer-menu .main-menu .arrows .right-arrow.active {
  border-left: 10px solid #ffffff;
}
.main-container footer.footer-menu .main-menu .arrows .bottom-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.3);
  bottom: 0px;
  left: 12px;
}
.main-container footer.footer-menu .main-menu .arrows .bottom-arrow.active {
  border-top: 10px solid #ffffff;
}
.main-container footer.footer-menu .chapter-menu {
  position: absolute;
  z-index: 4000;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: none;
  background: #ffffff;
}
.main-container footer.footer-menu .chapter-menu a.close-btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 8px;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons {
  *zoom: 1;
  background: #000000;
  border-top: solid 2px #000000;
  border-left: solid 2px #000000;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons:before, .main-container footer.footer-menu .chapter-menu .tab-buttons:after {
  display: table;
  content: " ";
}
.main-container footer.footer-menu .chapter-menu .tab-buttons:after {
  clear: both;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons li {
  float: left;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 20px;
  display: block;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons li.selected-tab {
  background: #ffffff;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons li.selected-tab a {
  color: #000000;
  cursor: default;
}
.main-container footer.footer-menu .chapter-menu .tab-contents {
  min-height: 120px;
  border: solid 2px #000000;
  border-top: none;
}
.main-container footer.footer-menu .chapter-menu .chapters {
  *zoom: 1;
  padding: 10px 10px 0px 10px;
  background: #eeeeee;
  border-bottom: solid 1px #dddddd;
}
.main-container footer.footer-menu .chapter-menu .chapters:before, .main-container footer.footer-menu .chapter-menu .chapters:after {
  display: table;
  content: " ";
}
.main-container footer.footer-menu .chapter-menu .chapters:after {
  clear: both;
}
.main-container footer.footer-menu .chapter-menu .chapters .item {
  margin-right: 10px;
  width: 150px;
  height: 157px;
}
.main-container footer.footer-menu .chapter-menu .chapters .item a {
  display: block;
  position: relative;
  padding-bottom: 10px;
  text-decoration: none;
}
.main-container footer.footer-menu .chapter-menu .chapters .item a .arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #dddddd;
  bottom: -11px;
  left: 57px;
}
.main-container footer.footer-menu .chapter-menu .chapters .item a .arrow .inner {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #ffffff;
  position: absolute;
  left: -14px;
  top: 2px;
}
.main-container footer.footer-menu .chapter-menu .chapters .item a .title {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8em;
  padding: 5px;
  width: 140px;
  bottom: 0px;
}
.main-container footer.footer-menu .chapter-menu .chapters .item a .title strong {
  font-size: 0.9em;
  font-weight: bold;
  display: block;
}
.main-container footer.footer-menu .chapter-menu .chapters .item a img {
  width: 100%;
  display: block;
}
.main-container footer.footer-menu .chapter-menu .chapters .item a.selected .arrow {
  display: block;
}
.main-container footer.footer-menu .chapter-menu .chapters .owl-wrapper-outer {
  overflow: hidden;
  margin-bottom: -2px;
}
.main-container footer.footer-menu .chapter-menu .chapters .owl-wrapper-outer .owl-wrapper {
  *zoom: 1;
}
.main-container footer.footer-menu .chapter-menu .chapters .owl-wrapper-outer .owl-wrapper:before, .main-container footer.footer-menu .chapter-menu .chapters .owl-wrapper-outer .owl-wrapper:after {
  display: table;
  content: " ";
}
.main-container footer.footer-menu .chapter-menu .chapters .owl-wrapper-outer .owl-wrapper:after {
  clear: both;
}
.main-container footer.footer-menu .chapter-menu .chapters .owl-wrapper-outer .owl-wrapper .owl-item {
  float: left;
}
.main-container footer.footer-menu .chapter-menu .chapter-info {
  padding: 10px;
}
.main-container footer.footer-menu .chapter-menu .chapter-info h3 {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 5px;
}
.main-container footer.footer-menu .chapter-menu .chapter-info p {
  font-size: 1em;
}
.main-container footer.footer-menu .chapter-menu .slides-outer {
  padding: 10px;
  height: 100px;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer {
  overflow: hidden;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper {
  *zoom: 1;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper:before, .main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper:after {
  display: table;
  content: " ";
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper:after {
  clear: both;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper .owl-item {
  float: left;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .item {
  margin: 3px;
  width: 150px;
  height: 80px;
  overflow: hidden;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .item img {
  display: block;
  width: 100%;
  height: auto;
}

.slide-selected {
    border-style:solid;
    border-width:5px;
}
