body {
  font-family: helvetica, arial;
  font-size: 100%;
}

a img {
  display: block;
}

.main-container .main-slider .owl-wrapper-outer {
  overflow: hidden;
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper {
  *zoom: 1;
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper:before, .main-container .main-slider .owl-wrapper-outer .owl-wrapper:after {
  display: table;
  content: " ";
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper:after {
  clear: both;
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper .owl-item {
  float: left;
}
.main-container .main-slider .owl-wrapper-outer .owl-wrapper .owl-item .item img {
  display: block;
  margin: 0 auto;
}
.main-container footer.footer-menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.main-container footer.footer-menu .main-menu {
  background: #000000;
  padding: 10px;
  position: relative;
  z-index: 3000;
}
.main-container footer.footer-menu .main-menu a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}
.main-container footer.footer-menu .chapter-menu {
  position: absolute;
  z-index: 4000;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: none;
  background: #ffffff;
}
.main-container footer.footer-menu .chapter-menu a.close-btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 8px;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons {
  *zoom: 1;
  background: #000000;
  border-top: solid 2px #000000;
  border-left: solid 2px #000000;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons:before, .main-container footer.footer-menu .chapter-menu .tab-buttons:after {
  display: table;
  content: " ";
}
.main-container footer.footer-menu .chapter-menu .tab-buttons:after {
  clear: both;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons li {
  float: left;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 20px;
  display: block;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons li.selected-tab {
  background: #ffffff;
}
.main-container footer.footer-menu .chapter-menu .tab-buttons li.selected-tab a {
  color: #000000;
  cursor: default;
}
.main-container footer.footer-menu .chapter-menu .tab-contents {
  min-height: 120px;
  border: solid 2px #000000;
  border-top: none;
}
.main-container footer.footer-menu .chapter-menu ul.chapters {
  *zoom: 1;
  padding: 10px;
}
.main-container footer.footer-menu .chapter-menu ul.chapters:before, .main-container footer.footer-menu .chapter-menu ul.chapters:after {
  display: table;
  content: " ";
}
.main-container footer.footer-menu .chapter-menu ul.chapters:after {
  clear: both;
}
.main-container footer.footer-menu .chapter-menu ul.chapters li {
  float: left;
  margin-right: 10px;
  width: 150px;
}
.main-container footer.footer-menu .chapter-menu ul.chapters li a {
  display: block;
}
.main-container footer.footer-menu .chapter-menu ul.chapters li a img {
  width: 100%;
  display: block;
}
.main-container footer.footer-menu .chapter-menu.chapter-selected ul.chapters {
  background: #eeeeee;
  border-bottom: solid 1px #dddddd;
}
.main-container footer.footer-menu .chapter-menu .slides-outer {
  display: none;
  height: 110px;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container {
  margin: 10px;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer {
  overflow: hidden;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper {
  *zoom: 1;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper:before, .main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper:after {
  display: table;
  content: " ";
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper:after {
  clear: both;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .owl-wrapper-outer .owl-wrapper .owl-item {
  float: left;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .item {
  margin: 3px;
}
.main-container footer.footer-menu .chapter-menu .slides-outer .slides-container .item img {
  display: block;
  width: 100%;
  height: auto;
}
