$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

@mixin animation {
  @include transition-property(all);
  @include transition-duration(0.3s);
  @include transition-timing-function(linear);
}

body {
  font-family: helvetica, arial;
  font-size: 100%;
}

a {
  img {
    display: block;
  }
}

.main-container {
  .main-slider {
    .owl-wrapper-outer {
      overflow: hidden;
      .owl-wrapper {
        @include clearfix;
        .owl-item {
          float: left;
          .item {
            img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  footer.footer-menu {
    position: fixed;
    bottom: 0px;
    width: 100%;
    .main-menu {
      background: #000000;
      padding: 10px;
      position: relative;
      z-index: 3000;
      a {
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.2em;
      }
    }
    .chapter-menu {
      position: absolute;
      z-index: 4000;
      left: 0px;
      bottom: 0px;
      width: 100%;
      display: none;
      background: #ffffff;
      a.close-btn {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 8px;
      }
      .tab-buttons {
        @include clearfix;
        background: #000000;
        border-top: solid 2px #000000;
        border-left: solid 2px #000000;
        li {
          float: left;
          a {
            color: #ffffff;
            font-weight: bold;
            text-decoration: none;
            font-size: 1em;
            padding: 10px 20px;
            display: block;
          }
          &.selected-tab {
            background: #ffffff;
            a {
              color: #000000;
              cursor: default;
            }
          }
        }
      }
      .tab-contents {
        min-height: 120px;
        border: solid 2px #000000;
        border-top: none;
      }
      ul.chapters {
        @include clearfix;
        padding: 10px;
        li {
          float: left;
          margin-right: 10px;
          width: 150px;
          a {
            display: block;
            img {
              width: 100%;
              display: block;
            }
          }
        }
      }
      &.chapter-selected {
        .tab-contents {

        }
        ul.chapters {
          background: #eeeeee;
          border-bottom: solid 1px #dddddd;
          li {
            //width:100px;
          }
        }
      }
      .slides-outer {
        display: none;
        .slides-container {
          margin: 10px;
          .owl-wrapper-outer {
            overflow: hidden;
            .owl-wrapper {
              @include clearfix;
              .owl-item {
                float: left;
              }
            }
          }
          .item {
            margin: 3px;
            img {
              display: block;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}